@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap");

* {
  font-family: "Indie Flower", cursive;
  font-weight: 100;
}

.navbar-text {
  color: aliceblue;
  font-size: 30px;
}

#username-nav-item,
#logout-nav-item {
  padding-top: 11px;
}

#logout-nav-item {
  padding-left: 20px;
}

#dashboard-nav-link,
#register-nav-link,
#login-nav-link {
  padding-top: 20px;
}
